@{
	ViewData["Title"] = "Category";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<FeroCourse.Data.ViewModels.CategoryVM>

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5>Category Create</h5>
			</div>
			<div class="card-body table-border-style">
				<form asp-area="Admin" asp-action="CategoryCreate" asp-controller="Category" method="post">
					<div class="row mb-3">
						<div class="col-md-4">
							<div class="form-group">
								<label class="floating-label" for="CategoryName">Category Name</label>
								<input type="text" class="form-control" id="CategoryName" name="CategoryName">

							</div>

						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label class="floating-label" for="CategoryDescription">Category Description</label>
								<input type="text" class="form-control" id="CategoryDescription" name="CategoryDescription">

							</div>


						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="floating-label" for="CategoryIsActive">Status</label>
								<select class="form-control" id="CategoryIsActive" name="CategoryIsActive">
									<option value="true">Active</option>
									<option value="false">Inactive</option>
								</select>
							</div>


						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label class="floating-label"></label>
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>


<div class="col-md-12">
	<div class="card">
		<div class="card-header">
			<h5>Category List</h5>

		</div>
		<div class="card-body table-border-style">
			<div class="table-responsive">
				<table class="table table-bordered table-striped nazneen">
					<thead>
						<tr>
							<th>Category ID</th>
							<th>Category Name</th>
							<th>Category Description</th>
							<th>CategoryIsActive</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var item in Model)
							{
								<tr>
									<td>@item.CategoryId </td>
									<td>@item.CategoryName </td>
									<td>@item.CategoryDescription </td>
									<td>@item.CategoryIsActive </td>

									<td>
										<div class="d-flex justify-content-around-content-center gap-2">

											<button type="button" class="btn btn-success btn-sm btn-edit" data-id="@item.CategoryId">
												Edit
											</button>
											<button type="button" class="btn btn-danger btn-sm btn-dlt" data-id="@item.CategoryId">
												Delete
											</button>


										</div>
									</td>
								</tr>

							}

						}

					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>

@* Modal *@
<!-- Edit Modal -->
<div class="modal fade" id="editCategoryModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Edit Category</h5>
			</div>

			<div class="modal-body">
				<form id="editCategoryForm">

					<input type="hidden" id="EditCategoryId" name="CategoryId">

					<div class="mb-3">
						<label>Category Name</label>
						<input type="text" id="EditCategoryName" name="CategoryName" class="form-control">
					</div>

					<div class="mb-3">
						<label>Description</label>
						<input type="text" id="EditCategoryDescription" name="CategoryDescription" class="form-control">
					</div>

					<div class="mb-3">
						<label>Status</label>
						<select id="EditCategoryIsActive" name="CategoryIsActive" class="form-control">
							<option value="true">Active</option>
							<option value="false">Inactive</option>
						</select>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" id="btnSaveEdit">Save Changes</button>
				<button class="btn btn-secondary" id="btnCancelEdit">Cancel</button>
			</div>

		</div>
	</div>
</div>

@section Scripts
{
	<script>

		// Open Edit Modal & Load Data
		$(document).on("click", ".btn-edit", function () {

		  var id = $(this).data("id");

			  $.ajax({
				  url: "/Admin/Category/GetCategory/" + id,
				  type: 'GET',
				  success: function(responce)
				  {
					  console.log(responce);

					  $("#EditCategoryId").val(responce.categoryId);
					  $("#EditCategoryName").val(responce.categoryName);
					  $("#EditCategoryDescription").val(responce.categoryDescription);
					  $("#EditCategoryIsActive").val(responce.categoryIsActive.toString());

					  $("#editCategoryModal").modal("show");
				  },
				  error: function()
				  {
					  alert("Not success.");
				  }
			  })

		});

		  // Close Edit Modal when Cancle Button Clicked
		  $(document).on("click", "#btnCancelEdit", function(){
			  $("#editCategoryModal").modal("hide");
		  })

		  // Edit Data
		  $(document).on("click", "#btnSaveEdit", function(){

			  var modaldata = {
				  categoryId : $('#EditCategoryId').val(),
				  categoryName : $('#EditCategoryName').val(),
				  categoryDescription : $('#EditCategoryDescription').val(),
				  categoryIsActive : $('#EditCategoryIsActive').val()
			  };

			  console.log(modaldata);

			  $.ajax({
				  url: "/Admin/Category/CategoryEdit",
				  type: 'POST',
				  data: modaldata,
				  success: function(responce)
				  {
					  window.location.href = '/Admin/Category/CategoryCreate';
				  },
				  error: function()
				  {
					  alert("Not Updated.");
				  }
			  })
		  });

		  // Delete Data
		  $(document).on("click", ".btn-dlt", function(){

			  Swal.fire({
				  title: "Are you sure?",
				  text: "You won't be able to revert this!",
				  icon: "warning",
				  showCancelButton: true,
				  confirmButtonColor: "#3085d6",
				  cancelButtonColor: "#d33",
				  confirmButtonText: "Yes, delete it!"
			  }).then((result) => {
				  if (result.isConfirmed) {

					  var id = $(this).data("id");

					  var row = $(this).closest('tr');

					  $.ajax({
						  url: "/Admin/Category/CategoryDelete/" + id,
						  type: 'POST',
						  success: function(responce)
						  {
								row.remove();		  
						  },
						  error: function()
						  {
							  alert("Not success.");
						  }
					  })
				  }
			  });

		  })

	</script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

