@{
	ViewData["Title"] = "Course List";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@model IEnumerable<FeroCourse.Data.Dtos.CourseVM>



<div class="col-md-12">
	<div class="card">
		<div class="card-header">
			<h5>Course List</h5>

		</div>
		<div class="card-body table-border-style">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Course Title</th>
							<th>Instructor Name</th>
							<th>Price</th>
							<th>Discount Price</th>
							<th>Image</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@{
							foreach (var item in Model)
							{
								<tr>

									<td>@item.Title </td>
									<td>@item.InstructorName </td>
									<td>@item.Price </td>
									<td>@item.DiscountPrice </td>
									<td>
										@if (!string.IsNullOrEmpty(item.ThumbnailPath))
										{
											<img src="~/@item.ThumbnailPath" class="img-fluid img-thumbnail" width="70" height="90" />
										}
									</td>

									<td>
										<div class="d-flex justify-content-around-content-center gap-2">

											<button type="button" class="btn btn-primary btn-sm btn-detail" data-id="@item.CourseId">
												Details
											</button>
											<button type="button" class="btn btn-success btn-sm btn-edit" data-id="@item.CourseId">
												Edit
											</button>
											<button type="button" class="btn btn-danger btn-sm btn-dlt" data-id="@item.CourseId">
												Delete
											</button>


										</div>
									</td>
								</tr>

							}

						}

					</tbody>

				</table>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="editCourseModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Edit Course</h5>
			</div>

			<div class="modal-body">
				<form id="editCourseForm">
					<input type="hidden" id="EditCourseId" name="CourseId">

					<div class="mb-3">
						<label>Course Title</label>
						<input type="text" id="EditCourseTitle" name="Title" class="form-control">
					</div>

					<div class="mb-3">
						<label>Description</label>
						<input type="text" id="EditCourseDescription" name="Description" class="form-control">
					</div>


					<div class="mb-3">
						<label>Instructor Name</label>
						<input type="text" id="EditInstructorName" name="InstructorName" class="form-control">
					</div>

					<div class="mb-3">
						<label>Price</label>
						<input type="text" id="EditPrice" name="Price" class="form-control">
					</div>

					<div class="mb-3">
						<label>Discount Price</label>
						<input type="text" id="EditDiscountPrice" name="DiscountPrice" class="form-control">
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" id="btnSaveEdit">Save Changes</button>
				<button class="btn btn-secondary" id="btnCancelEdit">Cancel</button>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="editCourseModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Course Details</h5>
			</div>

			<div class="modal-body">

				<table>
					<tr>
						<td id="CourseID"></td>
						<td id="CourseTitle"></td>
						<td id="CourseDetails"></td>
						<td id="Instructor"></td>
					</tr>
				</table>


			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" id="btnBack">Back</button>

			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<script>

		// Open Edit Modal & Load Data
		$(document).on("click", ".btn-edit", function () {

		  var id = $(this).data("id");


			  $.ajax({
				  url: "/Admin/Course/GetCourse/" + id,
				  type: 'GET',
				  success: function(responce)
				  {
					  console.log(responce);
					 
					  $("#EditCourseId").val(responce.courseId);
					  $("#EditCourseTitle").val(responce.title);
					  $("#EditCourseDescription").val(responce.description);
					  $("#EditInstructorName").val(responce.instructorName);
					  $("#EditPrice").val(responce.price);
					  $("#EditDiscountPrice").val(responce.discountPrice);

					  $("#editCourseModal").modal("show");
				  },
				  error: function()
				  {
					  alert("Not success.");
				  }
			  })

		});

		  // Close Edit Modal when Cancle Button Clicked
		  $(document).on("click", "#btnCancelEdit", function(){
			  $("#editCourseModal").modal("hide");
		  })

		  // Edit Data
		  $(document).on("click", "#btnSaveEdit", function(){

			  var modaldata = {
				  courseId       : $('#EditCourseId').val(),
				  title			 : $('#EditCourseTitle').val(),
				  description    : $('#EditCourseDescription').val(),
				  instructorName : $('#EditInstructorName').val(),
				  price          : $('#EditPrice').val(),
				  discountPrice  : $('#EditDiscountPrice').val(),
			  };

			  console.log(modaldata);

			  $.ajax({
				  url: "/Admin/Course/CourseEdit",
				  type: 'POST',
				  data: modaldata,
				  success: function(responce)
				  {
					  window.location.href = '/Admin/Course/Courselist';
				  },
				  error: function()
				  {
					  alert("Not Updated.");
				  }
			  })
		  });

		  // Delete Data
		  $(document).on("click", ".btn-dlt", function(){

			  Swal.fire({
				  title: "Are you sure?",
				  text: "You won't be able to revert this!",
				  icon: "warning",
				  showCancelButton: true,
				  confirmButtonColor: "#3085d6",
				  cancelButtonColor: "#d33",
				  confirmButtonText: "Yes, delete it!"
			  }).then((result) => {
				  if (result.isConfirmed) {

					  var id = $(this).data("id");					  

					  var row = $(this).closest('tr');

					  $.ajax({
						  url: "/Admin/Course/CourseDelete/" + id,
						  type: 'POST',
						  success: function(responce)
						  {
								row.remove();
						  },
						  error: function()
						  {
							  alert("Not success.");
						  }
					  })
				  }
			  });

		  })

	</script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
